body{
    font-family: 'Space Grotesk'; font-size: 25px;
}
.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.vallie{
    font-family: 'Oleo Script'; font-size: 30px;
    padding: 30px;
}
.home{
    color: blue;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: yellow;

}
.getstartedbutton{
    background-color: #0F298B;
    color: white;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10%;

}
hr{
    border-style:ridge;
}
img{
    float: right;
    height: 600px;
    width: 1000px;
    display: flex;
}
.helping{
    color:#0F298B;
    font-family: 'Space Grotesk';
    font-size: 60pt;
}
.creating{
    font-size: 30pt;
}
.learnmorebutton{
    background-color: #0F298B;
    color: white;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10%;
}
.options{
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    background-color: white;
    padding: 50px;
    font-size: 30px;
    box-shadow: 10px 10px 10px lightgray;
}
.searchbutton{
    background-color: #0F298B;
    color: white;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10%;
}
#places{
    padding: 5px;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    border: none;
    background-color: white;
    color: #0F298B;
}
#property{
    padding: 5px;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    border: none;
    background-color: white;
    color: #0F298B;
}
#price{
    padding: 5px;
    font-weight: bold;
    font-family: 'Space Grotesk';
    font-size: 20px;
    border: none;
    background-color: white;
    color: #0F298B;
}
.products{
    color: #0F298B;
}
.how{
    color: #0F298B;
    text-align: center;
}
.works{
    color: black;
    text-align: center;
}
.options2{
    display: flex;
    justify-content: space-around;

}
.imgcontainer1{
    width: 100%;
}
#findhomeimg{
    height: 80px;
    width: 60px;
}
#makepaymentsimg{
    height: 100;
    width: 120;
}
#makeitofficialimg{
    height: 100;
    width: 120;
}
#findhomedesc{
    font-size: 15px;
}
.whychooseusdiv{
    display: flex;
}
.whyh3{
    color: #0F298B;
    font-size: 40pt;
}
.whyh5{
    font-size: 20pt;
}
#whyul{
    column-count: 2;
    font-weight: bold;
    list-style: disc;
}
#featured{
    color: #0F298B;
    text-align: center;
}
#biggest{
    text-align: center;
}
#featuredproperties{
    display: flex;

}
#thepalace{
    height: 300px;
    width: 500px;
    justify-content:space-around;
    align-items:center;
    padding: 50px;
}
#therory{
    height: 300px;
    width: 500px;
    justify-content:space-around;
    align-items:center;
    padding: 50px;
}
#rexona{
    height: 300px;
    width: 500px;
    justify-content:space-around;
    align-items:center;
    padding: 50px;
}
#viewmorediv{
    display: flex;
    justify-content: flex-end;
}
#viewmorebutton{
    background-color: #0F298B;
    color: white;
    font-size: 15pt;
    padding: 10px;
    border-radius: 10%;
}
#saying{
    column-count: 3;
}
#bottomnavbar{
    display: flex;
    color: white; 
    background-color: #0F298B;
    justify-items: center;
    justify-content: space-around;
    font-size: 15pt;
    word-wrap:normal;
}
.vallie2{
    font-family: 'Oleo Script';
}
#sol{
    font-size: 15pt;
    width: 5cm;
}
#modules{
    color: white; 
}